@{
    ViewBag.Title = "About";
}

<p class="text1">Willkommen am Campingplatz Omes</p>
<p class="text">Er liegt im Westen Österreichs, umgeben von vielen wunderschönen Bergen und grüner Landschaft. Der Campingplatz hat eine Fläche von ca. 75 000 m² und kann um die 1000 Gäste auf Stellplätzen oder in Mobilheimen aufnehmen.</p>
<hr class="hr" />
<div style="float:left; padding-left: 40px;"><img src="~/Content/Images/foto1.jpeg" width="300" /></div>
<div style="float:left"><img src="~/Content/Images/foto2.jpeg" width="300" /></div>
<div style="float:left"><img src="~/Content/Images/foto3.jpeg" width="300" /></div>
<hr class="hr1" />
<p class="text">Der Campingplatz ist mit allen Annehmlichkeiten ausgestattet, die typisch für einen modernen Campingplatz sind. Sie können zwischen drei verschiedenen Schlafmöglichkeiten auswählen. Zum einem können Sie ganz klassisch mit dem Wohnmobil anreisen. Zum anderen stehen Ihnen verschiedene Bungalows zur Verfügung und für die ganz Naturverbundenen auch freie Plätze für Zelte. Außerdem bietet Ihnen die Umgebung einige leckere Restaurants, sowie Almhütten oder auch ein Feizeitzentrum an. Auch für Versorgung ist bestens gesorgt, denn mehrere Einkaufsmöglichkeiten, unteranderem sogar ein Einkaufszentrum (Völs) und viele Bauernmärkte stehen Ihnen zur Verfügung.</p>






