<p class="text2">Impressum</p>
<p class="text3">Angaben gemäß § 5 TMG</p>

<p class="text3">Alex Fagschlunger</p>
<p class="text3">Kristeneben 57</p>
<p class="text3">6094 Axams</p>
<p class="text4">Vertreten durch:</p>
<p class="text3">Alexander Fagschlunger</p>
<p class="text4">Kontakt:</p>
<p class="text3">Telefon: 0699-18296636</p>
<p class="text3">Fax: 1234-56789</p>
<p class="text3">E-Mail: alex.fagschlunger@gmail.com</p>

<p class="text4">Umsatzsteuer-ID:</p>
<p class="text3">Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: Musterustid.</p>

<p class="text4">Wirtschafts-ID:</p>
<p class="text3">Musterwirtschaftsid</p>
<p class="text4">Aufsichtsbehörde:</p>
<p class="text3">Musteraufsicht Musterstadt</p>