<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 class="text1">Camping in den Alpen</h1>
    <hr class="hr" />
    <div class="slidershow middle">

        <div class="slides">
            <input type="radio" name="r" id="r1" checked />
            <input type="radio" name="r" id="r2" />
            <input type="radio" name="r" id="r3" />
            <input type="radio" name="r" id="r4" />
            <input type="radio" name="r" id="r5" />
            <div class="slide s1">
                <img src="~/Content/Images/foto2.jpeg" alt="" />
            </div>
            <div class="slide">
                <img src="~/Content/Images/foto5.jpeg" alt="" />
            </div>
            <div class="slide">
                <img src="~/Content/Images/foto6.jpeg" alt="" />
            </div>
            <div class="slide">
                <img src="~/Content/Images/foto4.jpeg" alt="" />
            </div>
            <div class="slide">
                <img src="~/Content/Images/foto1.jpeg" alt="" />
            </div>
        </div>
        <div class="navigationSlide">
            <label for="r1" class="barSlide"></label>
            <label for="r2" class="barSlide"></label>
            <label for="r3" class="barSlide"></label>
            <label for="r4" class="barSlide"></label>
            <label for="r5" class="barSlide"></label>
        </div>
    </div>
</body>
</html>