<h2 class="text1">Information</h2>
<br />
<div style="margin-left:45%;"><img src="~/Content/Images/info.png" width="100" /></div>
<br />
<br />
<p class="text">Der Campingplatz liegt in Mitten Tirols umgeben von wunderschönen Bergen, grünen Wiesen aber auch Einkaufzentren. Sollten sie in Erwägung ziehen einmal die schönen Alpen zu besteigen, erhalten sie bei unserer Inforamtionsstelle dirket beim Campingplatz genügend Infoblatt zur Besteigung eines Gipfels. Sollte es bei der Anreise oder Sonstigen Probleme geben, rufen Sie uns bitte unter folgender Nummer an 0934 23782394 oder schreiben Sie uns ein Email unter CampingOmes@gmail.com.</p>
